<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="tech blog" name="description" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Gzr - Atom" href="http://feeds.feedburner.com/feedburner/Gzr" />
    <link href="http://www.clickpass.com/openid_server" rel="openid.server" />
    <link href="http://clickpass.com/public/al3x" rel="openid.delegate" />
    <title>Gzr &mdash; {{ page.title }}</title>
  </head>
  <body>
    <header>
      <h1 id="title">
      ......<a href="/" title="Home">home</a>...<a href="/about.html" title="About">about</a>......
      </h1>
    </header>
    <div id="wrapper">
      {{ content }}
    </div>
  </body>
</html>